<h2>Upcoming Events</h2>
<p>Category: {{activeCategory.name || "All Events"}} | <button class="btn btn-default" ng-click="showCategories()">Categories</button></p>
<p>
	List by: <span class="btn-group">
		<button class="btn btn-default" ng-click="sortEvents('popularity')" ng-class="{active : sortOrder == 'popularity' || sortOrder == undefined}">Popularity</button>
		<button class="btn btn-default" ng-click="sortEvents('date')" ng-class="{active : sortOrder == 'date'}">Date</button>
	</span>
</p>
<ul id="event-list" class="row">
	<li class=" col-sm-10 event-list-item" ng-repeat="event in findEvents | orderBy: start_date" ng-click="showThisEvent(event)">
		<div class="event-list-item-wrapper">
			<img ng-show="event.image.medium.url" class="event-list-item-image" src="{{event.image.medium.url}}" alt="{{event.title}}" />
			<div class="content">
				<p class="lead text-info">{{event.title}}</p>
				<b>{{event.month}} {{event.day}}, {{event.year}}</b><br/>
				<em>{{event.venue_name}}</em>
			</div>
		</div>
	</li>
</ul>
<button class="btn btn-primary" ng-show="(eventPageNumber > 1)" ng-click="eventPage(eventPageNumber - 1)">Previous Page</button>
<button class="btn btn-primary" ng-show="(eventPageNumber < eventPageCount)" ng-click="eventPage(eventPageNumber + 1)">Next Page</button>
