<div class="container" ng-controller="viewCtrl">
    <div class="row">
        <div class="col-sm-8 col-sm-push-2" ng-hide="calendarForm || emailForm || shareForm">
	        <p class="alert {{activeList.alert.type}}" ng-show="activeList.alert">{{activeList.alert.message}}</p>
	        <div class="row">
                <div class="col-sm-10">
                <h2>
                    {{activeList.title}}
                </h2>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default pull-right" id="hide-toggle" data-toggle="button" ng-click="hideDoneToggle()">Hide Checked</button>
                </div>
            </div>
            <ol class="view-list">
                <li class="view-list-item" ng-repeat="item in items" ng-class="{hidden: shouldBeHidden(item)}">
                    <span ng-class="{'strike': item.done == 1}">{{item.name}}</span>
                    <button class="btn btn-sm fa fa-check pull-right item-check" ng-class="{'btn-success': item.done == 1}" ng-click="doneToggle(item)"></button>
                </li>
            </ol>
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success fa fa-floppy-o" ng-click="saveEditedList()"></a>
                    <a class="btn btn-default fa fa-pencil-square-o" ng-click="editList(activeList.id)"></a>
                    <a class="btn btn-default fa fa-calendar" ng-click="showCalendarForm()"></a>
                    <a class="btn btn-default fa fa-envelope-o" ng-click="showEmailForm()"></a>
                    <a class="btn btn-default fa fa-users" ng-click="showShareForm()"></a>
                    <button class="btn btn-default pull-right" ng-click="deleteList(activeList.id)">Delete List</button>
                </div>
            </div>
        </div>


	    <div class="col-sm-8 col-sm-push-2" ng-show="calendarForm">
		    <button class="btn btn-default" ng-click="viewReset()">Back</button>
		    <div class="well">
			    <h2>Add this list to your Google Calendar</h2>

			    <label class="control-label">Pick a Date (e.g. a due-date or deadline)
				    <div class="input-group">
					    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="listDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					            <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					            </span>
				    </div>
			    </label>

			    <label class="control-label">Select a Calendar</label>
			    <select ng-model="listCalendar" ng-options="cal.summary for cal in cals.calsList" class="form-control"></select>

			    <label class="control-label">Want to include a note?</label>
			    <textarea class="form-control" ng-model="listMessage" rows="10"></textarea>

			    <label class="control-label">Want to invite some friends?
				    <div class="input-group">
					    <input type="text" ng-model="attendee" typeahead='contact as contact.title + ", " + contact.email for contact in data.contacts | filter: $viewValue | limitTo:8' class="form-control">
					    <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="addToCalAttendees()">Add!</button>
					    </span>
				    </div><!-- /input-group -->
			    </label>

			    <h4 ng-show="listAttendees">Attendees</h4>
			    <ul>
				    <li ng-repeat="attendee in listAttendees">
					    {{attendee.title}}
				    </li>
			    </ul>

			    <button class="btn btn-success" ng-click="addToCalendar()">Add it!</button>
		    </div>
	    </div>


	    <div class="col-sm-8 col-sm-push-2" ng-show="emailForm">
		    <button class="btn btn-default" ng-click="viewReset()">Back</button>
		    <div class="well">
			    <h2>Email this list to a friend</h2>

			    <label class="control-label">To whom would you like to send it?
				    <div class="input-group">
					    <input type="text" ng-model="recipient" typeahead='contact as contact.title + ", " + contact.email for contact in data.contacts | filter: $viewValue | limitTo:8' class="form-control">
					    <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="addToRecipients()">Add!</button>
					    </span>
				    </div><!-- /input-group -->
			    </label>

			    <h4 ng-show="listAttendees">Recipients</h4>
			    <ul>
				    <li ng-repeat="recipient in listRecipients">
					    {{recipient.title}}
				    </li>
			    </ul>

			    <label class="control-label">Want to include a message?</label>
			    <textarea class="form-control" ng-model="listMessage" rows="10"></textarea>


			    <button class="btn btn-success" ng-click="sendEmail()">Send!</button>
		    </div>
	    </div>


	    <div class="col-sm-8 col-sm-push-2" ng-show="shareForm">
		    <button class="btn btn-default" ng-click="viewReset()">Back</button>
		    <div class="well">
			    <h2>Share this list with a friend</h2>

			    <label class="control-label">With whom would you like to share it?
				    <div class="input-group">
					    <input type="text" ng-model="recipient" typeahead='contact as contact.title + ", " + contact.email for contact in data.contacts | filter: $viewValue | limitTo:8' class="form-control">
					    <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="addToShare()">Add!</button>
					    </span>
				    </div><!-- /input-group -->
			    </label>

			    <h4 ng-show="listAttendees">Recipients</h4>
			    <ul>
				    <li ng-repeat="recipient in listShare">
					    {{recipient.title}}
				    </li>
			    </ul>

			    <label class="control-label">Want to include a message?</label>
			    <textarea class="form-control" ng-model="shareMessage" rows="10"></textarea>


			    <button class="btn btn-success" ng-click="shareList()">Share it!</button>
		    </div>
	    </div>
    </div>
</div>